.login-container {
    position: absolute;
    top: 10%;
    left: 10%;
  }
  
  .login-button {
    background-color: #2a5a81;
    border-radius: 15px;
    border-width: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200%;
  }